<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/template">
<head>
    <title>Kokoa</title>
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                인스턴스 관리 <small>Info | Connection</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">인스턴스 관리</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="abcd" class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title" th:text="${'전체 ' + instanceList.size() + '개의 인스턴스'}">Total 15 Instances</h3>
                            <div class="box-tools" style="top:9px">
                                <button type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> 등록</button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover table-striped ">
                                <tbody>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">계열사</th>
                                    <th style="text-align:center">아이디</th>
                                    <th style="text-align:center">이름</th>
                                    <th style="text-align:center">버전</th>
                                    <th style="text-align:center">설명</th>
                                    <th style="text-align:center">호스트</th>
                                    <th style="text-align:center">수정일</th>
                                    <th style="text-align:center">수정</th>
                                    <th style="text-align:center">삭제</th>
                                </tr>
                                <tr th:each="instance, instStatus : ${instanceList}">
                                    <td style="text-align:center" th:text="${instStatus.index + 1}">1</td>
                                    <td style="text-align:center" th:text="${instance.branch}">IWC</td>
                                    <td style="text-align:center" th:text="${instance.id}">ITWISE_XE</td>
                                    <td style="text-align:center" th:text="${instance.name}">공덕오라클</td>
                                    <td style="text-align:center" th:text="${instance.version}">11g</td>
                                    <td style="text-align:center" th:text="${instance.description}">공덕 HMP 테스트용 오라클</td>
                                    <td style="text-align:center" th:text="${instance.host}">P01</td>
                                    <td style="text-align:center" th:text="${#dates.format(instance.updatedDate, 'yyyy-MM-dd')}">2016-08-21</td>
                                    <td style="text-align:center">
                                        <i class="fa fa-edit" data-toggle="modal" data-target="#myModal" th:attr="inst-id=${instance.id}"></i>
                                    </td>
                                    <td style="text-align:center">
                                        <i class="fa fa-trash-o" th:onclick="'instanceManage.deleteInstance(\'' + ${instance.id} + '\')'"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="box box-info" style="position:relative">
                            <div class="box-header with-border">
                                <h3 class="box-title">Instance Info</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal">
                                <input type="hidden" name="seq">
                                <div class="box-body">
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputBranch" class="col-xs-4 control-label">계열사</label>
                                        <div class="col-xs-8">
                                            <select name="branch" class="form-control" id="inputBranch">
                                                <option>CJ제당(국내)</option>
                                                <option>CJ제당(해외)</option>
                                                <option>CJ푸드빌</option>
                                                <option>CJ프레시웨이</option>
                                                <option>CJ헬스케어</option>
                                                <option>CJ대한통운</option>
                                                <option>CJ오쇼핑</option>
                                                <option>CJCGV</option>
                                                <option>CJE&M</option>
                                                <option>CJone</option>
                                                <option>CJ그룹공통</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputId" class="col-xs-4 control-label">아이디</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="id" class="form-control" id="inputId" placeholder="ID" value="iwc_xe">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputName" class="col-xs-4 control-label">이름</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" value="공덕 오라클">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputDescription" class="col-xs-4 control-label">설명</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="description" class="form-control" id="inputDescription" placeholder="Description" value="테스트용">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputHost" class="col-xs-4 control-label">호스트</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="host" class="form-control" id="inputHost" placeholder="Host" value="P01">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputIP" class="col-xs-4 control-label">아이피</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="connection.ip" class="form-control" id="inputIP" placeholder="IP" value="1.223.129.51">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputPort" class="col-xs-4 control-label">포트</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="connection.port" class="form-control" id="inputPort" placeholder="Port" value="1521">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputSID" class="col-xs-4 control-label">서비스아이디</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="connection.sid" class="form-control" id="inputSID" placeholder="SID" value="xe">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputVersion" class="col-xs-4 control-label">버전</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="version" class="form-control" id="inputVersion" placeholder="Version" value="11g">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputUserName" class="col-xs-4 control-label">사용자명</label>
                                        <div class="col-xs-8">
                                            <input type="text" name="connection.userName" class="form-control" id="inputUserName" placeholder="User Name" value="system">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="inputUserPassword" class="col-xs-4 control-label">비밀번호</label>
                                        <div class="col-xs-8">
                                            <input type="password" name="connection.userPassword" class="form-control" id="inputUserPassword" placeholder="User Password" value="22335">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="button" class="btn btn-sm btn-default btn-flat" onclick="instanceManage.testConnect()">연결 테스트</button>
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-sm btn-info  btn-flat" onclick="instanceManage.saveInstance()">저장</button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-info  btn-flat" onclick="$('#myModal').modal('toggle')">취소</button>
                                    </span>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <div id="formOverlay" class="overlay" style="display:none">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->

        <script src="/js/instance-manage.js"></script>
    </div>
    <!-- /.content-wrapper -->
</body>
</html>