<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" layout:fragment="navi">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a href="/daily-inspection/main.mj">
                    <i class="fa fa-calendar-check-o"></i> <span>일일 점검</span>
                </a>
            </li>
            <li>
                <a href="/status/main.mj">
                    <i class="fa fa-bar-chart-o"></i> <span>통계</span>
                </a>
            </li>
            <li>
                <a href="/instance-manage/main.mj">
                    <i class="fa fa-database"></i> <span>인스턴스 관리</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>