<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/template">
<head>
    <title>Kokoa</title>
    <!--<link rel="stylesheet" href="/plugins/morris/morris.css">-->
    <link rel="stylesheet" href="/plugins/select2/select2.min.css">

    <!--<script src="/plugins/chart/raphael-min.js"></script>-->
    <!--<script src="/plugins/chartjs/Chart.js"></script>-->

    <script src="/plugins/chartjs/ChartLatest.js"></script>
    <script src="/plugins/select2/select2.full.min.js"></script>
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                인스턴스 통계
                <small>Tablespace | Segment</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">인스턴스 통계</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="abcd" class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">대상 인스턴스 선택</h3>
                    <div class="box-tools" style="top:9px">
                        <button type="button" onclick="loadCurrentTablespaceChart()">
                            <i class="fa fa-edit"></i> 조회
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 invoice-col">
                            <div class="row">
                                <div class="col-xs-12 form-horizontal">
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="period" class="col-xs-3 control-label">기간</label>
                                        <div class="col-xs-9">
                                            <div class="input-group">
                                                <div class="input-group-addon" style="border-top-left-radius:5px; border-bottom-left-radius:5px">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" name="period" id="period" class="form-control pull-right" style="border-top-right-radius:5px; border-bottom-right-radius:5px">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="instanceList" class="col-xs-3 control-label">인스턴스</label>
                                        <div class="col-xs-9">
                                            <select name="instanceList" class="form-control" id="instanceList" onchange="loadCurrentTablespaceList()">
                                                <option value="">인스턴스 선택</option>
                                                <optgroup th:each="instanceGroup : ${instanceGroupList}"
                                                          th:attr="label=${instanceGroup.branch}">
                                                    <option th:each="instance : ${instanceGroup.instanceList}"
                                                            th:attr="value=${instance.id}"
                                                            th:text="${instance.id + ' - ' + instance.name}"></option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:5px">
                                        <label for="tablespaceList" class="col-xs-3 control-label">테이블 스페이스</label>
                                        <div class="col-xs-9" id="tablespaceListBlock">
                                            <input type="text" disabled="disabled" class="form-control" id="tablespaceList" placeholder="인스턴스를 선택하세요" style="border-top-left-radius:5px; border-bottom-left-radius:5px; border-top-right-radius:5px; border-bottom-right-radius:5px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="instanceSummary" class="col-sm-6 invoice-col">

                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tablespace</h3>
                        </div>
                        <div class="box-body">
                            <div id="chartBox" class="chart">
                                <canvas id="tablespaceChart" style="height:250px"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->

        <!-- Select2 -->
        <script src="/js/status.js"></script>
        <script>
            $(function(){
                var today = new Date();
                var aWeekAgoDay = new Date();
                aWeekAgoDay.setDate(today.getDate() - 7);

                var dayStart = $.datepicker.formatDate('yy-mm-dd', aWeekAgoDay);
                var dayEnd = $.datepicker.formatDate('yy-mm-dd', today);

                $('#period').daterangepicker({
                    "autoApply": true,
                    "locale": {
                        "format": "YYYY/MM/DD",
                        "separator": " - ",
                        "daysOfWeek": ["일","월","화","수","목","금","토"],
                        "monthNames": ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                        "firstDay": 1
                    },
                    startDate: dayStart,
                    endDate: dayEnd,
                    "opens": "right",
                    "alwaysShowCalendars": true
                    },
                    function(start, end, label) {
                        console.log(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    }
                );
            });

            $(function(){
                $("#instanceList").select2();
            });

            function loadCurrentTablespaceChart() {
                var selectedInstance = $("#instanceList").val();
                var currInst = instanceSummary[selectedInstance];

                var selectedPeriod = $("#period").val();
                var instanceSeq = currInst.seq;
                var tablespaceList = $("#tablespaceList").val();

                var reqData = {};
                reqData.period = selectedPeriod;
                reqData.tablespaceNameList = tablespaceList;

                var request = $.ajax({
                    url : "/status/" + currInst.seq + "/tablespace-chart-snippet.mj",
                    data : reqData
                });

                request.done(function(data) {
                    $("#chartBox").html("<canvas id=\"tablespaceChart\" style=\"height:250px\"></canvas>");

                    var areaChartData = {};
                    areaChartData.labels = data.labelList;
                    areaChartData.datasets = data.dataList;

                    var areaChartOptions = {

                    };

                    var areaChartCanvas = $("#tablespaceChart").get(0).getContext("2d");
                    var areaChart = new Chart(areaChartCanvas, {
                        type : 'line',
                        data : areaChartData,
                        options : areaChartOptions
                    });
                });

                request.fail(function(){
                    alert("서버에 접속하는 동안 에러가 발생했습니다. 관리자에게 문의하세요.");
                });

            }

            function loadCurrentTablespaceList(){
                var selectedInstance = $("#instanceList").val();
                var currInst = instanceSummary[selectedInstance];

                $("#instanceSummary").html(currInst.summary);

                var selectedPeriod = $("#period").val();
                var request = $.ajax({
                    url : "/status/" + currInst.seq + "/tablespace-list-snippet.mj",
                    data : {
                        period : selectedPeriod
                    }
                });

                request.done(function(data) {
                    var tablespaceListBlock = $("#tablespaceListBlock");
                    tablespaceListBlock.html("");
                    tablespaceListBlock.html(data);

                    var tablespaceList = $("#tablespaceList");
                    if(tablespaceList) {
                        tablespaceList.select2();
                    }
                });

                request.fail(function(){
                    alert("서버에 접속하는 동안 에러가 발생했습니다. 관리자에게 문의하세요.");
                });
            }

            var instanceSummary = [(${instanceSummary})]
        </script>
    </div>
    <!-- /.content-wrapper -->
</body>
</html>